<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Estilos y responsive-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    
    <!-- Fuentes y letras -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/fonts.css') }}">
    
    <!-- Estilos -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/colors.css') }}">

    
    <!-- Titulo -->
    <title>{{title}}</title>
</head>
<body class="container mx-auto text-center {{color_fondo}}">
    {% block content %}
    {% endblock %}
</body>
</html>