<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Estilos y responsive-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    
    <!-- Fuentes y letras -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/fonts.css') }}">
    
    <!-- Estilos -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/colors.css') }}">

    <!-- Custom sizes-->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/sizes.css') }}">

    <!-- Titulo -->
    <title>{{title}}</title>
</head>
<body>

    {% block content %}
    {% endblock %}

    <!-- Alpine.js -->
    <script defer src="https://unpkg.com/alpinejs@3.5.0/dist/cdn.min.js"></script>
    <!-- Sweet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.9/dist/sweetalert2.all.min.js"></script>
    <script src="{{ url_for('static', filename='js/utils/alerts.js') }}"></script>
</body>
</html>