<!-- Importing macros -->
{% from "macros/return_page.html" import return_page %}

<!-- File macros -->
{% from "macros/title_text.html" import title_text %}

{% from "macros/paragraph_text.html" import paragraph_text %}

{% extends 'layout/base.html' %}
{% block content %}


{{return_page("/")}}

<div class="mt-5 ml-4 mr-4 mb-5 rounded">
    <div class="bg-white pb-10 rounded">
        <h1 class="text-5xl pt-10 font-andada text-color-smokyblack"> Desarrolladores </h1>
    </div>
</div>

<div class="mt-5 ml-4 mr-4 mb-5 rounded ">
    <div class="bg-white pb-10 rounded">
        <div class= "pt-1 pb-1">
            {{title_text("¿Quiénes somos?")}}
        </div>
       
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4 m-5">
            <div class="text-center">
                <img src="https://avatars.githubusercontent.com/u/83615350?v=4" alt="Foto Seba" class="m-auto w-60 rounded-full border-2 border-gray-800"/>   
                <h1 class="text-center font-black mt-10 text-color-smokyblack text-3xl pb-2 font-andada">Sebastian Torrealba</h1>
                <p>
                    "Dios creador a base de Tailwind 
                    (recien lo aprendi a ocupar), "cabros
                    lo logre, pucha que soy bacan", tito eres dios."
                </p>
            </div>
            
            <div class="text-center">
                <img src="https://avatars.githubusercontent.com/u/92215346?v=4" alt="Foto Tito" class="m-auto w-60 rounded-full border-2"/> 
                <h1 class="text-center font-black mt-10 text-color-smokyblack text-3xl pb-2 font-andada">Vicente Vizcarra</h1>   
                <p>
                    "Los calladitos son los peores, no me gusta eso
                    pero no dire nada al respecto, trabajo desde las
                    sombras."
                </p>
            </div>
        
            <div class="text-center">
                <img src="https://avatars.githubusercontent.com/u/91765691?v=4" alt="Foto Benja" class="m-auto w-60 rounded-full border-2"/>
                <h1 class="text-center font-black mt-10 text-color-smokyblack text-3xl pb-2 font-andada">Benjamin Paicil</h1>   
                <p>
                    "El panita fruity del team, unificador
                    de naciones, bot del Seba."
                </p>
            </div>
        
            <div class="text-center">
                <img src="https://avatars.githubusercontent.com/u/91765641?v=4" alt="Foto Bruno" class="m-auto w-60 rounded-full border-2"/>
                <h1 class="text-center font-black mt-10 text-color-smokyblack text-3xl pb-2 font-andada">Bruno Bonati</h1>   
                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua."
                </p>
            </div>

        </div>

    </div>
    
</div>

<div class="mt-5 ml-4 mr-4 mb-5 rounded">
    <div class="bg-white pb-10 rounded">
        <div class="pt-5">
        {{title_text("Buenas gente!!")}}
        </div>
        {{paragraph_text("Somos Vizcacha Team.")}}
        {{paragraph_text("Nuestro proyecto tiene como nombre USM Studyrooms, el cual consiste 
        principalmente en salas de estudios individuales o grupales, que contienen 
        herramientas útiles para crear ambientes especialmente dirigidos a estudios 
        expeditos y evitar la procrastinación disminuyendo las distracciones como, buscar 
        métodos de estudio pomodoro en YouTube (terminas viendo cualquier cosa), buscando 
        musica para estudiar (terminas en IG), buscar en el aula que tienes pendiente 
        (es mejor tenerlo organizado en una ToDoList).")}}

        {{paragraph_text("En retrospectiva lo que queremos lograr es más que una aplicación
         web con el que logremos el proyecto de Introducción a la Ingeniería Informática, si 
         no, que realmente crear un lugar de estudio cómodo para nosotros y nuestros compañeros 
         en el que reunamos herramientas útiles al momento de estudiar. (muchas horas por lo demás.)")}}

        {{paragraph_text("Esperamos que les guste nuestra idea y que junto a nosotros vean como este
         proyecto avanza y logramos los objetivos planteados.")}}  

        {{paragraph_text("Un saludo!!")}}
    </div>
</div>

<div class="pb-20"></div>
{% endblock %}