{% extends 'layout/room_base.html' %}
{% block content %}
<div class="h-screen w-screen bg-blue-400" style="background-image: url('https://images4.alphacoders.com/804/80484.jpg');">

    <!-- Barra superior  -->
    <div class="flex bg-color-champagnepink items-center w-full sm:w-11/12 lg:w-3/5 2xl:w-2/5 h-16 rounded top-1 mx-auto inset-x-0 fixed">

        <!-- Widget Section-->
        <div class="w-3/5 grid grid-cols-4 mt-1">
            <!-- Widget música-->
            <a href="#" class="m-auto rounded">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 mx-auto text-color-xanadu" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19V6l12-3v13M9 19c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3 2zm12-3c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3 2zM9 10l12-3" />
                </svg>
                <h1 class="text-color-xanadu font-staatliches">Música</h1>
            </a>

            <!-- Widget Pomodoro -->
            <a href="#" class="m-auto rounded">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 mx-auto text-color-xanadu" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd" />
                </svg>
                <h1 class="text-color-xanadu font-staatliches">Pomodoro</h1>
            </a>

            <!-- Widget To do list-->
            <a href="#" class="m-auto rounded">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 mx-auto text-color-xanadu" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z" />
                    <path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm9.707 5.707a1 1 0 00-1.414-1.414L9 12.586l-1.293-1.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                </svg>
                <h1 class="text-color-xanadu font-staatliches">Pendientes</h1>
            </a>

            <!-- Widget Video -->
            <a href="#" class="m-auto rounded">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 mx-auto text-color-xanadu" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd" />
                </svg>
                <h1 class="text-color-xanadu font-staatliches">Video</h1>
            </a>
        </div>

        <!-- Info section -->
        <div class="w-1/5 grid grid-cols-1">
            <a href="#" class="m-auto">
                <h1 class="text-color-xanadu font-staatliches text-tiny sm:text-base md:text-lg lg:text-xl xl:text-xl">{{room_name}}</h1>
                <h1 class="text-color-xanadu font-staatliches text-tiny sm:text-base md:text-lg lg:text-xl xl:text-xl">#{{room_id}}</h1>
            </a>
        </div>

        <!-- Config section -->
        <div class="w-1/5 grid grid-cols-1">
            <a href="#" class="m-auto">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 mx-auto text-color-xanadu" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
                </svg>
                <h1 class="text-color-xanadu font-staatliches">Configuración</h1>
            </a>
        </div>
    </div>

    <!-- Draggable div -->
    <div 
        id="dragdiv"
        class="fixed bg-color-champagnepink h-72 w-72 z-10 rounded top-16 left-16"
    >
        <div class="w-full bg-color-xanadu rounded-t">
            <h1 class="font-staatliches text-xl text-white m-auto text-center">
                Música
            </h1>

            <!-- Cerrar -->
            <button class="absolute top-1 right-1">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white m-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>

        <iframe 
            src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3"
            width="288"
            height="260" 
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"
            class="rounded-b block m-auto"
        ></iframe>
    </div>

    <!-- Draggable div -->
    <div 
        id="dragdiv2"
        class="fixed bg-color-champagnepink h-72 w-72 z-10 rounded top-32 left-32"
    >
        <div class="w-full bg-color-xanadu rounded-t">
            <h1 class="font-staatliches text-xl text-white m-auto text-center">
                VIDEO
            </h1>

            <!-- Cerrar -->
            <button class="absolute top-1 right-1">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white m-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>

        <iframe 
            width="288"
            height="260"
            src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=1&mute=1"
            frameborder="0"
            allowfullscreen
            class="rounded-b"
        >
        </iframe> 
    </div>

    <div x-data="{show_chat: true, not_seen_messages: 0}">
        <button 
            class="fixed bg-color-champagnepink ml-2 inset-y-0 my-auto h-20 w-20 rounded-full border-xanadu border-4"
            x-data="botonToggleChat()"
            x-on:click="toggleChat()"
            x-show="!show_chat"
        >
            <h1 class="text-3xl font-staatliches text-color-xanadu">CHAT</h1>
            <div 
                class="text-sm absolute top-0 bg-color-xanadu -right-2 bg-red-500 rounded-full h-7 w-7 flex"
                x-show="not_seen_messages > 0"
            >
                <h1 
                    class="m-auto text-color-champagnepink"
                    x-text="not_seen_messages"
                >
                    123
                </h1>
            </div>
        </button>


        <!-- Ventana del chat -->
        <div 
            x-data="chatComponent()" 
            class="fixed w-3/5 md:w-2/5 xl:w-1/5 top-28 bottom-28 left-1 my-auto rounded inset-y-0 bg-color-champagnepink"
            x-show="show_chat"
            x-init="receive()"
        >

            <!-- Mensajes -->
            <div class="h-4/5 rounded">
                <div 
                    class="h-1/12 flex bg-color-xanadu rounded-t text-white"
                    x-ref="messages"
                >
                    <h1 class="font-staatliches text-2xl m-auto">CHAT</h1>
                    
                    <button
                        class="h-8 w-8 my-auto absolute right-1 top-2"
                        x-on:click="show_chat = false"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4" />
                        </svg>
                    </button>
                </div>

                <div 
                    class="w-full h-11/12 bottom-0 overflow-auto bg-color-champagnepink"
                    id="chat"
                >

                    <!-- Los mensajes -->
                    <template x-if="messages.length > 0">
                        <template
                            x-for="message in messages"
                        >
                            <div 
                                class="bg-color-champagnepink-palid rounded-3xl m-2"
                                x-init="$nextTick( () => {scrollBottom()});"
                            >
                                <h1 x-text="message.username" class="pt-1 pl-4 font-bold text-color-smokyblack"></h1>
                                <h1 x-text="message.text" class="pl-3 pr-3 text-color-smokyblack"></h1>
                                <h1 x-text="message.time" class="pb-2 mr-3 text-xs text-gray-500 text-right"></h1>
                            </div>
                        </template>
                    </template>

                    <!-- Si no hay mensajes-->
                    <template x-if="messages.length == 0">
                        <div class="mt-20 text-center">
                            <h1 class="my-auto text-2xl font-staatliches text-color-xanadu ml-5 mr-5">Están concentrados parece...</h1>
                            <p class="font-andada text-color-xanadu ml-5 mr-5">Recuerda que puedes hablar en el chat con tus compañeros</p>
                        </div>
                    </template>

                </div>
            </div>

            <!-- Cuadro de texto -->
            <div class="h-1/5 block flex rounded-b bg-color-xanadu">
                <textarea
                    x-model="textarea_message"
                    x-on:keydown.enter="send()"
                    x-on:keydown.enter.prevent
                    class="mx-auto w-11/12 m-4 rounded p-2 resize-none"
                    placeholder="Mensaje a la sala"
                >
                </textarea>

                <button 
                    class="absolute flex h-10 w-10 rounded-full right-5 bottom-5 text-color-xanadu"
                    x-on:click="send()"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </button>
            </div>
        </div>

    </div>
</div>

<script>
    var room_settings = {
        room_id: "{{room_id}}",
        room_password: "{{room_password}}",
        user_id: "{{user_id}}",
        username: "{{username}}"
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src={{ url_for('static',filename='js/room/room_screen.js')}}></script>
{% endblock %}