@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=Lobster&PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.font-lobster {
    font-family: 'Lobster', cursive;
}

.font-andada {
    font-family: 'Andada Pro', serif;
}

.font-pt-sans {
    font-family: 'PT Sans', sans-serif;
}