{% extends 'layout/base.html' %}
{% block content %}
    <div class="grid h-screen">
        <form class="m-auto">

            <h1 class="font-lobster text-6xl text-black text-center">Studyrooms</h1>

            <div class="grid w-96 bg-white rounded">

                <label class="block" for="crear-sala">
                    <h1 class="font-pt-sans mt-7 text-center">Crear una sala</h1>
                </label>
                <button class="bg-red-400 px-4 mt-1 mb-10 hover:bg-red-500 text-white py-2 ml-10 mr-10 rounded-full">
                    Crear una sala
                </button>

                <label class="block" for="unirse-sala">
                    <h1 class="font-pt-sans text-center">Unirse a una sala</h1>
                </label>
                <input 
                    class="bg-red-400 text-center px-4 mb-10 focus:bg-red-500 focus:placeholder-opacity-0 text-white py-2 rounded ml-10 mr-10 placeholder-white"
                    placeholder="Inserte su código aquí"
                    maxlength="6"
                />

                <div class="grid grid-cols-3 mt-6 mb-3">
                    <a href="/licencia" class="text-center text-red-400 hover:underline">Licencia</a>
                    <a href="/desarrolladores" class="text-center text-red-400 hover:underline">Desarrolladores</a>
                    <a href="/guia" class="text-center text-red-400 hover:underline">Guia de uso</a>

                </div>
            </div>
        </div>
    </div>
{% endblock %}