{% extends 'layout/base.html' %}
{% block content %}
    <div class="flex h-screen">
        <img src={{ url_for('static',filename='img/cafesketch.png')}} alt="Cafe skectch" class="m-auto hidden lg:block">
        <form class="m-auto">
            <img src={{ url_for('static',filename='img/logo.png')}} alt="USM Studyrooms" class="w-96 -mt-16"/>
            <h1 class="font-new-spirit-normal text-6xl text-color-smokyblack">Inicio</h1>

            <div class="grid w-96 m-auto bg-white rounded">

                <label class="block" for="crear-sala">
                    <h1 class="font-pt-sans mt-7 text-color-smokyblack">
                        Crea una sala colaborativa
                    </h1>
                </label>
                
                <a href="room/create" class="bg-color-xanadu px-4 mt-1 mb-10 hover:bg-color-sonicsilver text-white py-2 ml-10 mr-10 rounded-full">
                    Crear sala
                </a>

                <label class="block" for="unirse-sala">
                    <h1>Unirse a una sala</h1>
                </label>
                <input 
                    class="bg-color-xanadu text-center px-4 mb-10 focus:bg-color-sonicsilver focus:placeholder-opacity-0 text-white py-2 rounded ml-10 mr-10 placeholder-white"
                    placeholder="Inserte su código aquí"
                    maxlength="6"
                />

                <div class="grid grid-cols-3 mt-6 mb-3">
                    <a href="/licencia" class="text-center text-color-xanadu hover:underline">Licencia</a>
                    <a href="/desarrolladores" class="text-center text-color-xanadu hover:underline">Desarrolladores</a>
                    <a href="/guia" class="text-center text-color-xanadu hover:underline">Guia de uso</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}